/* .albummain{
    display: flex;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}
.albummain img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.albumside{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.albumside img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.AlbumCardContainermain{
    border: 2px black solid;
    cursor: pointer;
    background-color: grey;
    width: 250px;
    height: 250px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
}



.AlbumCardContainerside{
    display: flex;
    border: 2px black solid;
    cursor: pointer;
    width: 150px;
    background-color: grey;
    margin-bottom: 5px;

} */
