/* TODO Add site wide styles */
:root { /* Nunito?. Montserrat? cf public/index.html */
    --fontFamily: "Figtree", sans-serif ;
    --fontSize: 14px ;
    --headingSize: 24pt ;
    --subheadingSize: 16pt ;
    --subheadingWeight: 550 ;
    --buttonBorderRadius: 10px ;
    --imgBorderRadius: 14px ;
    --modalBorderRadius: 15px;
    --inputBorderRadius: 5px;
    --cardBorderRadius: 15px;
    --headerHeight: 65px;
    --mainPaddingY: 20px;
    --mainPaddingX: 25px;


    --inputBackground: rgb(247,247,247) ;
    --boxShadow: 5px -5px 20px rgba(0,0,0,1);
    --boxShadowHover: 4px 4px darkgray ;
    --accentGreen: rgb(0,255,100);
    --borderColor: rgb(0,0,0);

    --backgroundColor: rgb(0,0,0);
    --backgroundAccent: rgb(50,50,50);
    --sectionBackground: rgb(20,20,20);
    --detailsTopSectionColor: rgb(70,70,70);
    --textColor: rgb(255,255,255);
    --backgroundTextColor: rgb(210,210,210);
    --buttonBackgroundColor: rgb(255,255,255);
    --buttonTextColor: rgb(0,0,0);
    --buttonBorder: 1px rgb(0,0,0) solid;
    --buttonBackgroundAccent: rgb(230,230,230);
    --lightBorder: 1px solid rgb(230,230,230);
    --errorTextColor: rgb(255,100,100);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 ;
	padding: 0 ;
	border: 0 ;
	font-size: 100% ;
	font: inherit ;
	vertical-align: baseline ;
    /* background-color: var(--backgroundColor); */
    color: var(--textColor);
}

html, form {
    background-color: var(--backgroundColor);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block ;
}
body {
	line-height: 1 ;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none ;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '' ;
	content: none ;
}
table {
	border-collapse: collapse ;
	border-spacing: 0 ;
}
/* end of Eric Meyer's reset */

/* add progress cursor during db access */
body.waiting * {
    cursor: progress !important ;
}
i,button {
    cursor: pointer ;
}

body {
    box-sizing: border-box ;
    font-family: var(--fontFamily) ;
    font-size: var(--fontSize) ;
}
button { /* buttons sneakily ignore inheriting */
    font-family: var(--fontFamily) ;
    font-size: var(--fontSize) ;
    border: var(--buttonBorder);
    border-radius: var(--buttonBorderRadius);
    width: 100%;
    padding: 5px;
    text-align: center;
}

button:hover {
    background-color: var(--buttonBackgroundAccent);
    font-weight: bold;
}

button,input,textarea {
    background: var(--inputBackground) ;
    box-sizing: border-box;
}

input,textarea {
    padding: 5px;
    width: 100% ;
    border: none;
    border-radius: var(--inputBorderRadius);
}

label {
    font-weight: bold ;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--headingSize) ;
}

h2 {
    font-size: var(--subheadingSize) ;
    font-weight: var(--subheadingWeight) ;
}

.hidden {
    display: none ;
}

.error,.errors {
    color: var(--errorTextColor);
}

.PageGridContainer{
    display: grid;
    grid-template-areas:
                        /* "header header header" */
                         "sidebar main main"
                         "sound sound sound"
                         "footer footer footer" ;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 3fr 1fr 1fr;
    height: 100vh;
    margin-top: var(--headerHeight);
}

.HeaderContainer{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--sectionBackground);
}

.SiderBarContainer{
    grid-area: sidebar;
}
.MainContainer{
    grid-area: main;
    background: linear-gradient(var(--backgroundAccent), var(--backgroundColor));
    /* padding: 20px 30px; */
}
.FooterContainer{
    grid-area: footer;
}

.SoundBarContainer{
    grid-area: sound;
}

/********************** NAVIGATION ************************* */
.profile-button {
    position: absolute;
    right: 10px;
    top: 10px;
    border: var(--borderColor) 1px solid;
    border-radius: var(--buttonBorderRadius);
    padding: 5px;
    background-color: var(--buttonBackgroundColor);
    width: 50px;
}

.fa-user-circle {
    color: var(--backgroundColor);
    background-color: var(--buttonBackgroundColor);
    font-size: xx-large;
}

.profile-dropdown {
  position: absolute;
  right: 10px;
  top: 53px;
  border: var(--borderColor) 1px solid;
  padding: 10px;
  border-radius: var(--buttonBorderRadius);
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
  width: 100px;
}

.profile-dropdown * {
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logout-button {
    margin-top: 10px;
}

.profile-button:hover {
    background-color: var(--buttonBackgroundAccent);
    .fa-user-circle {
        background-color: var(--buttonBackgroundAccent);
    }
}

/*********** LOGIN / SIGNUP MODALs **********************/
#modal-content {
    position: absolute;
    background-color: var(--backgroundColor);
    border-radius: var(--modalBorderRadius);
    border: var(--lightBorder);
    padding: 20px;
    color: var(--textColor);
    width: 300px;
}

#modal-content > form {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

#modal-content>form>button {
    margin: 10px 0;
}

input {
    margin: 10px 0;
}

input[type=file] {
    background-color: var(--backgroundColor);
}

/************************* HEADER ********************************/
.HeaderStyle {
    height: var(--headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-link {
    font-size: var(--fontSize);
}

.about-link:hover {
    font-weight: bold;
}

/****************** MAIN CONTAINER ***********************/
.landingMainContainer{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    column-gap: 2.5%;
    height: 100%;
    margin-bottom: 25px;
}

.landing-container {
    margin: var(--mainPaddingY) var(--mainPaddingX);
}

.landing-main-header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-main-header>a {
    color: var(--backgroundTextColor)
}

.landing-main-header>a:hover {
    font-weight: bold;
    color: var(--textColor)
}

.landing-main-header>h2 {
    font-weight: bold;
}

.albummain, .playlistmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.albummain img, .playlistmain img{
    border-radius: var(--imgBorderRadius);
    object-fit: cover;
    width: 180px;
    height: 180px;
    background-color: white;
    margin-bottom: 7px;
}

.albummain h3, .playlistmain h3 {
    font-weight: bold;
    font-size: 15px;
    margin: 5px 0;
    color: var(--textColor);
}

.albummain h4, .playlistmain h4 {
    margin-top: 8px;
    color: var(--backgroundTextColor);
}

.AlbumCardContainermain, .PlaylistCardContainermain{
    cursor: pointer;
    border-radius: var(--cardBorderRadius);
    background-color: var(--sectionBackground);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.AlbumCardContainermain:hover, .PlaylistCardContainermain:hover {
    background-color: var(--backgroundAccent);
}

/*************** ABOUT ************************/
.aboutContainer>* {
    padding: 5px;
}

.aboutContainer {
    margin: 50px;
}

/* ******* DETAILS PAGES *************** */

.playlistSelect {
    border: 1px var(--borderColor) solid;
    width: fit-content;
    cursor: pointer;
}

.playlistSelect>li {
    border-bottom: 1px black solid;
}

.details-container {
    background: linear-gradient(var(--detailsTopSectionColor),var(--sectionBackground));
}

.details-section-top {
    display: flex;
    padding-left: var(--mainPaddingX);
    padding-top: 80px;
    padding-bottom: 20px;
}

.albumCover {
    object-fit: cover;
    max-width: 100%;
    background-color: white;
    box-shadow: var(--boxShadow);
}

.details-section-summary {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.details-section-summary>h2 {
    font-size: var(--headingSize);
    font-weight: bold;
}

.details-section-summary>* {
    padding: 10px 0;
}

.details-section-summary a:hover {
    text-decoration: underline;
}

.details-section-artist, .details-section-type {
    font-weight: bold;
}

.details-section-user-options {
    background-color: var(--sectionBackground);
    padding: var(--mainPaddingX);
    display: grid;
    grid-template-columns: 65px 65px 90px;
    align-items: center;
    box-sizing: border-box;
    height: 100px;
}

.fa-heart {
    align-self: center;
    justify-self: center;
    font-size: 24pt;
}

.fa-heart.fa-solid {
    color: var(--accentGreen);
}

.fa-heart.fa-regular {
    color: var(--backgroundTextColor);
}

.fa-heart:hover {
    font-size: 26pt;
}

.fa-heart.fa-heart.fa-regular:hover {
    color: var(--textColor);
}

.details-section-user-options>.fas.fa-play-circle {
    color: var(--accentGreen);
    font-size: 40pt;
}

.add-to-playlist {
    margin-left: 10px;
}

.add-to-playlist, .groupOwnerButtons {
    background-color: var(--backgroundAccent);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--backgroundTextColor);
}

.add-to-playlist>* {
    color: var(--backgroundTextColor);
}

.fa-plus {
    font-size: var(--subheadingSize);
    padding-left: 3px;
}

.add-to-playlist:hover, .groupOwnerButtons:hover {
    background-color: var(--backgroundAccent);
    color: var(--textColor);
    .fa-plus, span {
        color: var(--textColor);
        font-weight: bold;
    }
}

.no-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.playlistSelect {
    background-color: var(--backgroundAccent);
    padding: 3px;
    width: 125px;
    border-radius: var(--modalBorderRadius);
    border-top-left-radius: 0;
    margin-left: 141px;
    margin-top: -5px;
    border: none;
    z-index: 1;
}

.playlistSelect>li {
    border-radius: var(--modalBorderRadius);
    padding: 7px;
    border: none;
}

.playlistSelect>li:hover {
    background-color: var(--sectionBackground);
    font-weight: bold;
}

.playlistSelect>.inactive {
    pointer-events: none;
}

.details-section-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--mainPaddingY) var(--mainPaddingX);
}

.group-owner-buttons-container {
    display: flex;
    gap: 10px;
}

.groupOwnerButtons {
    width: 65px;
    font-size: small;
}

.details-section-body {
    padding: var(--mainPaddingY) var(--mainPaddingX);
}

.SongsContainerMain{
    width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px ;
}

.SongListContainer{
    border: 2px black solid;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 500px;
}

/********************** SIDEBAR ********************/
.albumside{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.albumside img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.AlbumCardContainerside{
    display: flex;
    border: 2px black solid;
    cursor: pointer;
    width: 150px;
    background-color: grey;
    margin-bottom: 5px;

}

.playlistside{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    flex-direction: column;
    align-items: center;
    font-size: 10px;

}
.playlistside div img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.PlaylistCardContainerside{
    display: flex;
    border: 2px black solid;
    cursor: pointer;
    width: 150px;
    background-color: grey;
    margin-bottom: 5px;

}
